:root {
  --font-family: "Ubuntu";
  --font-family-second: "WorkSans";
  --font-family-roboto: "Roboto";
  --content-width: 1440px;
  --content-h-offset: 50px;
  --content-mobile-h-offset: 25px;
  --content-v-offset: 30px;
  --content-mobile-v-offset: 15px;
  --header-height: 100px;
  --header-height-mobile: 70px;
  --black: #000;
  --white: #fff;
  --primary-color: #116ACC;
  --primary-color-light: #5897DB;
  --primary-color-dark: #0C4A8F;
  --blue-color: #A0C3FF;
  --light-blue-color: #DBE4F7;
  --input-focus-color: #EBEFF7;
  --secondary-color-2: #B3CEE2;
  --secondary-color-4: #FD4E5D;
  --error-color: #BA0000;
  --success-color: #76CA66;
  --back-grey: #F3F4F6;
  --grey-1: #1F2937;
  --grey-2: #374151;
  --grey-3: #4B5563;
  --grey-4: #6B7280;
  --grey-5: #9CA3AF;
  --grey-6: #D1D5DB;
  --max-width: 1440px;
}
